[flake8]
# ignore = E501
max-line-length = 100
select = E,W,F,N,I
exclude = tests/*, out/*, typeings/*
max-complexity = 10

#+[flake-import-order]
application-import-names = tweedle, tests, scripts
import-order-style = pycharm
