[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-mock = "*"
pytest-cov = "*"
autopep8 = "*"
pylint = "*"
ipython="*"

[packages]
click = "*"
munch="*"
toml = "*"

[requires]
python_version = "3.7"
